<!DOCTTYPE html>
<html>
    include header.pug  

    style. 
        @media(max-width:550px){
            .color{
                height:2000vh!important
            }
        }

    <body>

        -function Competition(events)
            div(class="pad")
                h2(class="text-center content1") TechoNetes <br/> Powerered By <a href="https://codingblocks.com/" target="_blank" style="color:white;text-decoration:none">Coding Blocks</a>
            div(class="container")
                div(class="pad text-center")
                    div(class="row text-center")
                        each r in events                           
                                br
                                a(href="/event/"+r.Event_Name class="card1")
                                    //div(class="card-image" style="background: url("+r.Poster_Url+");grid-area: image;border-top-left-radius: 15px;border-top-right-radius: 15px;background-size: cover;")
                                    div(class="card-image" style=`background: url('/posters/${r.Poster_Url}.jpg');grid-area: image;border-top-left-radius: 15px;border-top-right-radius: 15px;background-size: cover;`)
                                    <div class="card-text"> 
                                        h4= "Event : "+r.Event_Name
                                        h4= "Date : "+r.Event_Date
                                    </div>   

        <div class="color" style="height:800vh;">
            -Competition(events)

        </div>  

        <script src="../vikiran.js"></script>

    </body>
</html>