<!DOCTTYPE html>
<html>
    include header2.pug
    
    <body>
        
        div(class="color text-center")
            div(class="pad")
                h2(class="text-center content1") CESTA
            
            <img style="margin-top:2vh;width:60vw;height:30vh" src="https://i0.wp.com/www.ecommerce-nation.com/wp-content/uploads/2019/02/Razorpay-the-new-epayment-that-will-break-everything-in-2019.png?fit=1000%2C600&ssl=1" />
            br
            <button style="margin-top:5vh" class="btn btn-primary" id="rzp-button1">Proceed to Pay</button>
  

        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        script.
            var order= '!{order}';
            var paymentID= '!{paymentID}';
            var options = {
                "key": paymentID, // Enter the Key ID generated from the Dashboard
                "name": "Cesta Society",
                "description": "Transaction for Valorant Event",
                "image": "https://delhitechnicalcampus.ac.in/wp-content/uploads/2021/02/CESTA-logo-300x75.jpg",
                "order_id": order, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    $(document).ready(()=>{
                        $.ajax({
                            url: '/payment',
                            data : response,
                            method: "POST",
                            success : function(data){
                                window.location.replace(data.link);
                                alert(JSON.stringify(data.message));
                            },
                            error:function(err){
                                alert(JSON.stringify(err.responseText));
                            }
                        });
                    });
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };

            var rzp1 = new Razorpay(options);
            document.getElementById('rzp-button1').onclick = function(e){
                rzp1.open();
            }
    </body>